/*Media query para moviles*/
@media(min-width:768px) {
    .listado-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

:root {
    --surface-color: #fff;
    --curve: 40;
    /* color type A */
    --line_color: #555555;
    --back_color: #FFECF6;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
}
#hero2{background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
  }
.hero {
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment:fixed;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;


}

.card {
    border: hidden;
    position: relative;
    display: block;
    height: 100%;
    max-height: 350px;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 300px;
}

.card__image {
    object-fit: contain;
    object-position: initial;
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__mailbox {
    position: absolute;
    display: block;
    right: 0.8em;
    top: 0.9em;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    object-fit: cover;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

@media only screen and (max-width: 600px) {

    .card__thumb {
        display: none;
    }
    

}

.card__description {
    appearance: button;
    color: black;
    cursor: pointer;
    background-color: #D7BDCA;
    padding: 0 0em 0em;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card__description p {
    padding: 10px;
}

.button {
    cursor: pointer;
    position: relative;
    z-index: 0;
    width: 240px;
    height: 56px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all .3s ease;
}

.button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button::before,
.button::after,
.button__text::before,
.button__text::after {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: var(--line_color);
    transition: all .5s ease;
}

.button::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
}

.button::after {
    top: 0;
    right: 54px;
    width: 8px;
}

.button__text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
}

.button__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
}

.button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
}

.button__line::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 300px;
    border: solid 3px var(--line_color);
}

.button__line:nth-child(1),
.button__line:nth-child(1)::before {
    left: 0;
}

.button__line:nth-child(2),
.button__line:nth-child(2)::before {
    right: 0;
}

.button:hover {
    letter-spacing: 6px;
}

.button:hover::before,
.button:hover .button__text::before {
    width: 8px;
}

.button:hover::after,
.button:hover .button__text::after {
    width: calc(100% - 56px * 2 - 16px);
}

.containerButt {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}